<div class="jumbotron display-cell">
  <p class="center">THE NATIONAL CITIZEN SURVEY ™</p>
  <p class="center">% of San José residents who found the following “excellent” or “good”</p>
  <table class="table">
    <tr>
      <td>Overall ease of getting to places they usually have to visit</td>
      <td>53%</td>
    </tr>
    <tr>
      <td>Ease of walking in San José</td>
      <td>52%</td>
    </tr>
    <tr>
      <td>Ease of car travel in San José</td>
      <td>48%</td>
    </tr>
    <tr>
      <td>Ease of bicycle travel in San José</td>
      <td>44%</td>
    </tr>
    <tr>
      <td>Ease of travel by public transportation in San José</td>
      <td>38%</td>
    </tr>
  </table>
</div>
